# MTK project .rc configure

import init.c2k.rc
import init.mt6755.usb.rc
# DTS2017052700602 wangdong/wwx446400 20170527 begin
import init.power.rc
# DTS2017052700602 wangdong/wwx446400 20170527 end
# DTS2017082307706 sxw458090 songbin 20170824 for ATO Version start
import init.smt.rc
# DTS2017082307706 sxw458090 songbin 20170824 for ATO Version end

on init
    mkdir /mnt/media_rw/usbotg 0700 media_rw media_rw
    mkdir /storage/usbotg 0700 root root

on post-fs-data
    #/* DTS2017032411400 sxw458090 songbin 20170414 for ATO Version start */
    chown system system /proc/mtk_battery_cmd/current_cmd
    chown system system /sys/class/graphics/fb0/lcd_test_config
    chown system system /sys/bus/platform/devices/battery/charging_iin_current
    #/* DTS2017051104174 cwx465078 chenyong 20170512 start */
    chown system system /sys/bus/platform/devices/battery/charger_hz_onoff
    #/* DTS2017051104174 cwx465078 chenyong 20170512 end */
    #/* DTS2017032411400 sxw458090 songbin 20170414 for ATO Version end */

#/* DTS2017051300653   yangcaixia ywx471825 20170513 begin */
#Lcd
    chmod 0660 /sys/class/graphics/fb0/lcd_test_config
    chown system system /sys/class/graphics/fb0/lcd_test_config
    chmod 0660 /sys/class/graphics/fb0/lcd_inversion_mode
    chown system system /sys/class/graphics/fb0/lcd_inversion_mode
#/* <DTS2017051300653   yangcaixia ywx471825 20170513 end */
#/* DTS2017072600661  yangcaixia/ywx471825 20170726 begin */
    chmod 0664 /sys/devices/soc/soc:mtkfb/graphics/fb0/lcd_cabc_mode
    chmod 0664 /sys/class/graphics/fb0/lcd_cabc_mode
    chown system system /sys/devices/soc/soc:mtkfb/graphics/fb0/lcd_cabc_mode
    chown system system /sys/class/graphics/fb0/lcd_cabc_mode
#/* DTS2017072600661  yangcaixia/ywx471825 20170726 end */








#Camera
    chmod 0660 /dev/MAINAF
    chown system camera /dev/MAINAF

    chmod 0660 /dev/MAINAF2
    chown system camera /dev/MAINAF2

    chmod 0660 /dev/SUBAF
    chown system camera /dev/SUBAF

    chmod 0660 /dev/GAF001AF
    chown system camera /dev/GAF001AF

    chmod 0660 /dev/DW9714AF
    chown system camera /dev/DW9714AF
	
    chmod 0660 /dev/GT9761AF
    chown system camera /dev/GT9761AF
	
    chmod 0660 /dev/LC898212AF
    chown system camera /dev/LC898212AF

    chmod 0660 /dev/BU64745GWZAF
    chown system camera /dev/BU64745GWZAF

#SMB
    chown system system /proc/smb/ScreenComm
    chmod 0660 /proc/smb/ScreenComm




#Define device for ATCID
    chmod 660 /dev/ttyGS0
    chown system /dev/ttyGS0
    chmod 660 /dev/ttyGS1
    chown system /dev/ttyGS1




#    chmod 0660 /dev/spm
#    chown system system /dev/spm


on init
    # Refer to http://source.android.com/devices/tech/storage/index.html
    # It said, "Starting in Android 4.4, multiple external storage devices are surfaced to developers through
    #           Context.getExternalFilesDirs(), Context.getExternalCacheDirs(), and Context.getObbDirs().
    #           External storage devices surfaced through these APIs must be a semi-permanent part of the device (such as an SD card slot in a battery compartment).
    #           Developers expect data stored in these locations to be available over long periods of time."
    # Therefore, if the target doesn't support sd hot-plugging (Ex: the SD card slot in a battery compartment), we need to export SECONDARY_STORAGE in 'boot' section
    #
    # export SECONDARY_STORAGE /storage/sdcard1

service fuse_usbotg /system/bin/sdcard -u 1023 -g 1023 -w 1023 -d /mnt/media_rw/usbotg /storage/usbotg
    class late_start
    disabled






#Added by ONTIM begin
service qmcX983d /vendor/bin/qmcX983d
    disabled
    user system
    group system
    class main

service memsicd3680x /vendor/bin/memsicd3680x
    disabled
    user system
    group system
    class main

#Added by ONTIM end

# DTS2017060111459 chaibin/cwx464984 20170601 begin
service spm_script /vendor/bin/spm_loader
# DTS2017060111459 chaibin/cwx464984 20170601 end
    user root
    group root
    class core
    oneshot







service fingerprintd /system/bin/fingerprintd
    class late_start
    user system
    group input

#DTS2017040103926 dulichao dwx469380 begin
    mkdir /data/misc/hwpush
    chmod 0770 /data/misc/hwpush
    chown system system /data/misc/hwpush
    restorecon_recursive /data/misc/hwpush
#DTS2017040103926 dulichao dwx469380 end

#/* < DTS2017042011293 koupeng/kwx452406 20170424 begin */
on boot
    chown system dsm /dev/dsm
    chmod 0660 /dev/dsm
    chmod 0660 /dev/fingerprint
    chown system system /dev/fingerprint
    chmod 0660 /sys/devices/platform/fingerprint/irq
    chown system system /sys/devices/platform/fingerprint/irq
    chmod 0660 /sys/devices/platform/fingerprint/result
    chown system system /sys/devices/platform/fingerprint/result
    chown system system /sys/devices/platform/fingerprint/fingerprint_chip_info
    chmod 0660 /sys/devices/platform/fingerprint/read_image_flag
    chown system system /sys/devices/platform/fingerprint/read_image_flag
    chmod 0660 /sys/devices/platform/fingerprint/nav
    chown system system /sys/devices/platform/fingerprint/nav
    chmod 0660 /sys/devices/platform/fingerprint/snr
    chown system system /sys/devices/platform/fingerprint/snr
#/* DTS2017042011293 koupeng/kwx452406 20170424 end > */

     chmod 0660 /data/thh/tee_05/vendorId
     chown system system  /data/thh/tee_05/vendorId

    # DTS2017042703890 wangdong/wwx446400 20170510 begin
    add_mac_data_files
    # DTS2017042703890 wangdong/wwx446400 20170510 end
