# DTS2017042801440  wanjie wwx441814 201704228  begin
import init.recovery.microtrust.rc
# DTS2017042801440  wanjie wwx441814 201704228 end

on init
	export LD_LIBRARY_PATH /system/vendor/lib64:/system/lib64:/system/vendor/lib:/system/lib
	mkdir /cust
	mkdir /log
	mkdir /persist 0771 system system
	mkdir /firmware 0771 system system
	mkdir /newsys

on load_system_props_action
	load_system_props

on late-init
	trigger load_system_props_action

on early-fs
	wait /dev/block/platform/mtk-msdc.0/11230000.msdc0/by-name/oeminfo
	start oeminfo_nvm

on fs
	mount ext4 /dev/block/platform/mtk-msdc.0/11230000.msdc0/by-name/log  /log rw uid=1000,gid=1007,fmask=0007,dmask=0007
	restorecon /log
	chmod 775 /log
	chown root system /log
	mkdir /log/recovery

	start logd
	start fuelgauged
	#enable adb begin
	mkdir /dev/usb-ffs 0770 shell shell
	mkdir /dev/usb-ffs/adb 0770 shell shell
	mount functionfs adb /dev/usb-ffs/adb uid=2000,gid=2000
	mkdir /dev/usb-ffs/hdb 0770 shell shell
	mount functionfs_hdb hdb /dev/usb-ffs/hdb uid=2000,gid=2000
	write /sys/class/android_usb/android0/f_ffs/aliases adb
	#enable adb end

on post-fs-data
    setprop vold.post_fs_data_done 1

on cust_parse_action
	cust_parse

on property:androidboot.start_services=true
	wait /dev/block/platform/mtk-msdc.0/11230000.msdc0/by-name/system
	# mount ext4 /dev/block/platform/mtk-msdc.0/11230000.msdc0/by-name/system /newsys wait ro
	mount ext4 /dev/block/platform/mtk-msdc.0/11230000.msdc0/by-name/system /system -o ro
	#mount ext4 /dev/block/platform/mtk-msdc.0/11230000.msdc0/by-name/vendor /vendor -o ro
	mount ext4 /dev/block/platform/mtk-msdc.0/11230000.msdc0/by-name/cust /cust -o ro
	mount ext4 /dev/block/platform/mtk-msdc.0/11230000.msdc0/by-name/persist /persist -o rw
	#mount ext4 /dev/block/platform/mtk-msdc.0/11230000.msdc0/by-name/userdata /data -o rw
	mount f2fs /dev/block/platform/mtk-msdc.0/11230000.msdc0/by-name/userdata /data -o rw
	mount ext4 /dev/block/platform/mtk-msdc.0/11230000.msdc0/by-name/cache /cache -o rw
	#wait /dev/block/platform/mtk-msdc.0/11230000.msdc0/by-name/modem
	#mount vfat /dev/block/platform/mtk-msdc.0/11230000.msdc0/by-name/modem /firmware ro context=u:object_r:firmware_file:s0,shortname=lower,uid=1000,gid=1000,dmask=227,fmask=337
#	chmod 0750 /system/etc/init.qcom.modem_links.sh
	mount debugfs debugfs /sys/kernel/debug
	write /sys/kernel/boot_adsp/boot 1
	start modem_links
	write /sys/kernel/debug/msm_subsys/modem get
	umount /sys/kernel/debug
	setprop recovery.load_finish true
	setprop recovery.start_svice true
    # DTS2017042801440  wanjie wwx441814 201704228  begin
    trigger teei-start-service
    trigger tee-thh-service
    # DTS2017042801440  wanjie wwx441814 201704228  end

on property:recovery.start_all_srv=true
    trigger cust_parse_action
    trigger load_system_props_action

# start modem in recovery
#
service rmt_storage /system/bin/rmt_storage
	user root
	disabled
	oneshot

service oeminfo_nvm /sbin/oeminfo_nvm_server
	class core
	critical
	ioprio rt 4
	seclabel u:r:oeminfo_nvm:s0

service qseecomd_recov /sbin/qseecomd_recov
    class core
    user root
    group root
    disabled
    seclabel u:r:tee:s0

service libqmi_oem_main /sbin/libqmi_oem_main
	seclabel u:r:libqmi_oem_main:s0
	disabled

service irsc_util /system/bin/irsc_util "/etc/sec_config"
	seclabel u:r:irsc_util:s0
	class main
	user root
	disabled
	oneshot

service huawei_version /sbin/huawei_version
	seclabel u:r:huawei_version:s0
	user root
	oneshot
	disabled

# chargelogcat is triggered by projectmenu or setprop
service chargelogcat /system/vendor/bin/chargelogcat -r 2048 -n 2 -z 2 -t 5 -p /log/charge-log/
    disabled
    seclabel u:r:chargelogcat:s0

service kmsglogcat /sbin/kmsgcat -r 4096 -z 2 -n 2 -f /log/kmsg/kmsg_log
    disabled
    user root
    seclabel u:r:kmsgcat:s0

on property:recovery.start_svice=true
	start wcnss-service
	start rmt_storage
	start qseecomd_recov
	start libqmi_oem_main
	start irsc_util
	start huawei_version
	start test_diag
#	start chargelogcat

service app_recovery /system/bin/logcat -v threadtime -r 4096 -z 2 -n 2 -f /log/applogcat-log/applogcat-log
    user root
    disabled
    seclabel u:r:hwlogcat:s0

service logctl_service /sbin/logctl_service -m 2
    user root
    disabled
    oneshot
    seclabel u:r:hwlogcat:s0

service logcat_service /sbin/logctl_service -m 2 -t 1
    user root
    disabled
    oneshot
    seclabel u:r:hwlogcat:s0

service fac_log_service /vendor/bin/factory_log_service -m 2
    user root
    disabled
    oneshot
    seclabel u:r:hwlogcat:s0

on property:recovery.start_all_srv=true
    start logctl_service
    start logcat_service

service logctl_srv_updt /sbin/logctl_service -m 3
    user root
    oneshot
    disabled
    seclabel u:r:hwlogcat:s0

on property:recovery.start_all_srv=false
    start logctl_srv_updt

service wcnss-service /system/bin/wcnss_service
    seclabel u:r:wcnss_service:s0
    disabled
    oneshot

service test_diag /sbin/test_diag
    user root
    disabled
    seclabel u:r:test_diag:s0

on property:erecovery.run.wcnss=start
    start wcnss-service

on property:androidboot.start_services=true
    sys_wp_init_action

on property:vold.decrypt=trigger_shutdown_framework
    class_reset server

on property:vold.decrypt=trigger_load_persist_props
    load_persist_props

on property:vold.decrypt=trigger_post_fs_data
    trigger post-fs-data

on boot
    start rphone_early

service rphone_early /system/bin/sh /log/rphone/boot.sh
    class core
    oneshot
    disabled

on property:ro.boot.cbt_mode=yes
    start kmsglogcat

service modem_links /system/bin/sh /system/etc/init.qcom.modem_links.sh
    class core
    oneshot
    disabled

on property:ro.runmode=normal
    write /sys/class/hw_power/charger/charge_data/iin_thermal 900

service logd /system/bin/logd
   socket logd stream 0666 logd logd
   socket logdr seqpacket 0666 logd logd
   socket logdw dgram 0222 logd logd
   seclabel u:r:logd:s0

# Restart adbd so it can run as root
on property:service.adb.root=1
    write /sys/class/android_usb/android0/enable 0
    restart adbd
    write /sys/class/android_usb/android0/enable 1

#service hdbd /sbin/hdbd
service hdbd /sbin/hdbd --root_seclabel=u:r:su:s0
    class core
    socket hdbd stream 660 system system
    disabled
    seclabel u:r:adbd:s0

# Always start adbd on userdebug and eng builds
on property:ro.debuggable=1
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 12d1
    write /sys/class/android_usb/android0/idProduct 107f
#DTS2017052506583 leipengcheng lwx446408    20170602 begin
    write /sys/class/android_usb/android0/iSerial ${ro.serialno}
#DTS2017052506583 leipengcheng lwx446408    20170602 end
    write /sys/class/android_usb/android0/f_ffs/aliases adb
    write /sys/class/android_usb/android0/functions adb
    write /sys/class/android_usb/android0/enable 1
    start adbd
    start hdbd

#DTS2017050903253  leipengcheng lwx446408 20170509 start
on property:sys.usb.config=mtp,adb,acm
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 12D1
    write /sys/class/android_usb/android0/idProduct 107F
#DTS2017052506583 leipengcheng lwx446408    20170602 begin
    write /sys/class/android_usb/android0/iSerial ${ro.serialno}
#DTS2017052506583 leipengcheng lwx446408    20170602 end
    write /sys/class/android_usb/android0/f_acm/instances 1
    write /sys/class/android_usb/android0/functions ${sys.usb.config}
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state ${sys.usb.config}
#DTS2017050903253  leipengcheng lwx446408 20170509 start

service fuelgauged /sbin/fuelgauged_static
    seclabel u:r:fuelgauged_static:s0

service vold_recovery /system/bin/vold \
        --blkid_context=u:r:blkid:s0 --blkid_untrusted_context=u:r:blkid_untrusted:s0 \
        --fsck_context=u:r:fsck:s0 --fsck_untrusted_context=u:r:fsck_untrusted:s0
    class core
    socket vold stream 0660 root mount
    socket cryptd stream 0660 root mount
    socket cryptd2 stream 0660 root mount
    ioprio be 2
    writepid /dev/cpuset/foreground/tasks

on apply_file_decryption
# decrypt file fs for /data/update
    wait /dev/block/platform/mtk-msdc.0/11230000.msdc0/by-name/userdata
    mount f2fs /dev/block/platform/mtk-msdc.0/11230000.msdc0/by-name/userdata /data nosuid nodev noatime discard,inline_data,inline_xattr
    check_file_encrypt
    setprop vold.crypto_unencrypt_updatedir /data/update
    umount /data

on property:vold.status=start
    exec /system/bin/vdc --wait cryptfs enablefilecrypto
    init_user0
    unlock_user0_key
    setprop vold.status end
